.rojo {
  background-color: red;
  color: white;
  height: 100px;
  width: 25%;
  text-align: center;
  line-height: 100px;
}
.letrero {
  color: aquamarine;
  background-color: mediumpurple;
  height: 100px;
  width: 25%;
  text-align: center;
  line-height: 100px;
}
