<div class="w-1/2 mx-auto">
  <div id="indicators-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <!-- Carousel items generated with *ngFor -->
      <ng-container *ngFor="let image of images; let i = index">
        <div [@fadeInOut]="i === currentImageIndex ? 'in' : null" class="absolute inset-0 w-full h-full" data-carousel-item>
          <img [src]="image" class="object-cover w-full h-full" alt="...">
        </div>
      </ng-container>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
      <ng-container *ngFor="let image of images; let i = index">
        <button type="button" [ngClass]="{'bg-blue-500': i === currentImageIndex}" class="w-3 h-3 rounded-full" (click)="currentImageIndex = i" [attr.aria-current]="i === currentImageIndex" [attr.aria-label]="'Slide ' + (i + 1)" attr.data-carousel-slide-to="{{i}}"></button>
      </ng-container>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" (click)="previousImage()">
      ...
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" (click)="nextImage()">
      ...
    </button>
  </div>
</div>







