<div class="container mx-auto">
  <form>
    <label for="email" class="block text-blue-950-600 text-sm font-bold mb-2">Correo electrónico:</label>
    <input type="email" id="email" name="email" placeholder="ejemplo@dominio.com" required
           class="w-full px-3 py-2 placeholder-gray-500 text-gray-900 bg-white rounded-lg border border-inherit	focus:ring-2 focus:ring-blue-600 focus:border-transparent">
  </form>
</div>
