.title {
  text-align: center;
  color: #0b3d93;
  font-size: 32px;
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 30px;
  padding: 40px;
  justify-content: center;

}
@media (max-width: 580px) {
  .moviesGrid {
    grid-template-columns: 100%;
  }
}
.movieCard {
  list-style: none;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 50px;
  color: #312e2e;
  background-color: #f8f4ff;
  border-radius: 8px;
  padding: 15px;
}
.movieCard:hover {
  opacity: 0.8;
}

.productImage {
  border-radius: 6px;
  background-color: azure;
   }

@media (max-width: 590px) {
  .movieImage {
    width: 100%;
    height: auto;
  }
  .productImage{
    width: 100%;
    height: auto;
  }
}

