<h1 class="title">Productos</h1>
<div class="moviesGrid">

  <div class="movieCard" *ngFor="let product of products">
    <h3>{{ product.title }}</h3>
    <img class="productImage" height="200px" width="200px" *ngIf="product.images && product.images.length > 0" [src]="product.images[0]" alt="{{ product.title }}" />
    <p>{{ product.description }}</p>
    <p>Precio: {{ product.price }}</p>
  </div>

</div>





